//*// FORM TABBING //*//
.autotabs {
	background: #fff;
	padding: @plone-padding-base-vertical @plone-padding-base-horizontal;
	border: @plone-portlet-border;
	border-radius: @plone-border-radius-base;
	.autotoc-nav {
		background: #f2f1f1;
		border-bottom: @plone-portlet-border;
		margin: -@plone-padding-base-vertical -@plone-padding-base-horizontal @plone-padding-base-vertical;
		a {
			display: inline-block;
			padding: @plone-padding-base-horizontal;
			margin: @plone-padding-base-vertical 0 0 @plone-padding-base-vertical;
			border: @plone-portlet-border;
			margin-bottom:-1px;
			border-radius: @plone-border-radius-base @plone-border-radius-base 0 0;
			background: #fcfcfd;
			font-weight: @plone-font-weight-regular;
			&:hover {
				text-decoration: none;
				background: #fff;
			}
			&.active {
				color: @plone-gray;
				cursor: default;
				background: #fff;
				border-bottom-color: #fff;
			}
		}
	}
	.formControls {
		margin: 0 -@plone-padding-base-horizontal -@plone-padding-base-vertical ;
		border-radius: 0 0 @plone-border-radius-base @plone-border-radius-base;
	}
}