/****
ALERTS
****/
.portalMessage {
  font-family: Roboto, sans-serif;
  padding: 15px;
  padding-left: 45px;
  margin-bottom: 20px;
  border: 0px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}
.portalMessage > strong,
.portalMessage > dt {
  font-weight: 900;
  padding-right: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.portalMessage a {
  font-weight: 300;
  color: #056a9e;
}
.portalMessage > strong:before,
.portalMessage > dt:before {
  font-size: 14px;
  font-weight: 500;
  margin-left: -30px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  width: 20px;
  height: 20px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  top: -1px;
  position: relative;
}
.portalMessage > dt,
.portalMessage > dd {
  display: inline;
}
.portalMessage > dd {
  margin: 0;
}
.portalMessage.info {
  background-color: #aad6ea;
  border: 1px solid #9acee6;
  color: rgba(0, 0, 0, 0.5);
}
.portalMessage.info > strong,
.portalMessage.info > dt {
  color: rgba(0, 0, 0, 0.67);
}
.portalMessage.info > strong:before,
.portalMessage.info > dt:before {
  background-color: #3e7b91;
  content: "i";
}
.portalMessage.warning {
  background-color: #ebd380;
  border: 1px solid #e7ca66;
  color: rgba(0, 0, 0, 0.5);
}
.portalMessage.warning > strong,
.portalMessage.warning > dt {
  color: rgba(0, 0, 0, 0.67);
}
.portalMessage.warning > strong:before,
.portalMessage.warning > dt:before {
  background-color: #bc8d0d;
  content: "!";
}
.portalMessage.error {
  background-color: #ec9c8d;
  border: 1px solid #eb9484;
  color: rgba(0, 0, 0, 0.5);
}
.portalMessage.error > strong,
.portalMessage.error > dt {
  color: rgba(0, 0, 0, 0.67);
}
.portalMessage.error > strong:before,
.portalMessage.error > dt:before {
  background-color: #ac493f;
  content: "×";
}
/* special shape for error ? 
.portalMessage.error {
	& > strong:before, & > dt:before {
		border-radius: 8px; //soften border
		background: @plone-alert-error-bullet;
		background:
			linear-gradient(135deg, transparent 4px, @plone-alert-error-bullet 0) top left,
			linear-gradient(225deg, transparent 4px, @plone-alert-error-bullet 0) top right,
			linear-gradient(315deg, transparent 4px, @plone-alert-error-bullet 0) bottom right,
			linear-gradient(45deg,  transparent 4px, @plone-alert-error-bullet 0) bottom left;
		background-size: 50% 50%;
		background-repeat: no-repeat;
	}
}
*/
